<div class="assignment-card-content"
     @onclick="OnClick">
    
     <div class="symbols">
        <div class="emoji">
            <div class="twa-5x @Assignment.Emoji"></div>
        </div>
        <div class="emoji-modifier">
            <div class="twa-2x @Assignment.EmojiModifier"></div>
        </div>
    </div>

    <div class="name">@Assignment.Name</div>
    <div class="description">@Assignment.Description</div>
</div>

@code {
    [Parameter] public Assignment Assignment { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
}