@if (Users != null && Users.Count() > 0)
{
    <ul class="list">
        @foreach (var user in Users)
        {
            <li role="presentation">
                <div class="card">
                    <CardContent 
                        Name="@user.Name"
                        Emoji="@user.Avatar"
                        OnClick="@(async _ => await SelectUser.InvokeAsync(user))" />
                </div>
            </li>
        }
    </ul>
}
else
{
    <div class="loader"></div>
}
@code {
    [Parameter] public IEnumerable<User> Users { get; set; }
    [Parameter] public EventCallback<User> SelectUser { get; set; }
}