@if (Users != null && Users.Count() > 0)
{
    <ul class="list">
        @foreach (var user in Users.OrderBy(u => u.Name))
        {
            <li role="presentation">
                <div class="card">
                    <UserCardContent 
                        User="@user"
                        OnClick="@(async _ => await SelectUser.InvokeAsync(user))"/>
                </div>
            </li>
        }
    </ul>
}
else
{
    <div class="loader"></div>
}
@code {
    [Parameter] public IEnumerable<User> Users { get; set; }
    [Parameter] public EventCallback<User> SelectUser { get; set; }
}