@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Potty trainer app</h2>
        <p>
            Positive reinforecement gamification app for building healthy routines.
        </p>
        <br />
        <h2 class="title">Resources</h2>
        <ul>
            <li>
                <a href="https://github.com/eivholt/potty-trainer/tree/main">
                    Code in GitHub
                </a>
            </li>
            <li>
                <a href="https://twemoji.twitter.com/">
                    twemoji@Twitter
                </a>
            </li>

            <li>
                <a href="https://creativecommons.org/licenses/by/4.0/">
                    Graphics licensed under CC-BY 4.0:
                </a>
            </li>
        </ul>
    </div>
</div>