@page "/user/{userId}"
@inject HttpClient http
@inject NavigationManager NavigationManager

@if (user == null)
{
    <div class="loader"></div>
}
else
{
    <div class="content-container">
        <div class="columns is-multiline is-variable">
            <div class="column is-8">
                <AssignmentList User="@user"
                      SelectAssignment="@SelectAssignment" />
            </div>
        </div>
    </div>
}

@code {
    private User user;
    private bool IsInputDisabled { get; set; }

    [Parameter] public string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        user = await http.GetFromJsonAsync<User>($"api/users/{UserId}/assignments");
    }

    private async Task SelectAssignment(Assignment assignment)
    {
        //"users/{userid}/completedassignment/{assignmentid}"

        if (!IsInputDisabled)
        {
            IsInputDisabled = true;
            await http.PostAsJsonAsync($"api/users/{UserId}/completedassignment/{assignment.RowKey}", assignment);
            NavigationManager.NavigateTo($"/users");
            IsInputDisabled = false;
        }
    }
}