<div class="card-content">
    <div class="content">
        <div class="name">@Name</div>
        <div class="twa-5x @Emoji"></div>
        
    </div>
</div>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string Emoji { get; set; }
}