<header>
    <nav class="navbar has-background-dark is-dark"
         role="navigation"
         aria-label="main navigation">
        <div class="navbar-brand">
            <NavLink to="/" class="navbar-item nav-home">
                <span class="brand-third">Bæsj</span>
            </NavLink>
        </div>
    </nav>
</header>