<div class="assignment-card-content">
    
     <div class="symbols">
        <div class="emoji">
            <div class="twa-5x @Assignment.Emoji"></div>
        </div>
        <div class="emoji-modifier">
            <div class="twa-2x @Assignment.EmojiModifier"></div>
        </div>
    </div>

    <div class="stars">
        @switch(Assignment.Weight)
        {
            case 3:
                <div class="twa-2x twa-glowing-star" />
                <div class="twa-2x twa-glowing-star" />
                <div class="twa-2x twa-glowing-star" />
                break;
            case 2:
                <div class="twa-2x twa-star" />
                <div class="twa-2x twa-star" />
                <div class="shadow"><div class="twa-2x twa-star" /></div>
                break;
            case 1:
                <div class="twa-2x twa-star" />
                <div class="shadow"><div class="twa-2x twa-star" /></div>
                <div class="shadow"><div class="twa-2x twa-star" /></div>
                break;
        }
    </div>
    <div class="name-description">
        <div class="name">@Assignment.Name</div>
        <div class="description">@Assignment.Description</div>
    </div>
    
    <div class="add-completed-assignmen-panel">
        <div class="add-completed-assignment button is-primary" @onclick="OnClick" @onclick:stopPropagation>
            <i class="fa-solid fa-check" aria-hidden="true" />
        </div>
    </div>
   
    
</div>

@code {
    [Parameter] public Assignment Assignment { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
}